
html, body {
    height: 100%;
    margin: 0; 
    font-family:   Honey Crepes;
    background-color: #B3D697;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.div1{
    margin: 0;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #081b29;
    color: whitesmoke;
}

.div1 p{
    margin-left: 30px;
    font-size: 20px;
}

.div1 ul li{
    
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.div1 ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.div1 ul li a:hover{
    color: grey;
}

.image img{
    margin-left: 40px;
    margin-top: 70px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 7px solid black;
}

.div2{
    margin-left: 180px;
    margin-top: 30px;
    display: flex;
    background-color: #B3D697;
    height: 585px;
}

.div4{
    margin-left: 200px;
    margin-top: 80px;
    background-color: #B3D697;
    height: 300px;
    width: 600px;
}


.div3 {
    width: auto;
    height: 40px;
    background-color: #081b29;
    color: white;
    margin-top: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}
